.header-cls
{
        height: 50px;
        width: 100%;
        text-align: center;
        background-color: whitesmoke;
        color: rgb(235, 33, 33);
        font-weight: bold;
}
hr{
    margin: 0px;
}

p{
    margin: 0px;

}

.tablecls{
    margin: 3px;
    margin-left: 30px;
    padding: 10px;
}
.table-rw{
    margin: 10px;
    padding: 4px;
    border: 1px solid black;
}
