
<app-header></app-header>

<div class="container">
    <img [src]="food.imageUrl" [alt]="food.name">

<div class="details">
    <div class="header">
        <span class="name">
            {{food.name}}
        </span>
        <span class="favourite"></span>
    
    </div>
    <div class="origins">
        <span *ngFor="let origin of food.origin">
            {{origin}}
        </span>
    </div>
    <div class="tag">
    </div>
    <div class="cook-time">
        <span>
            Time to cook <strong>{{food.cooktime}}</strong>Minutes
        </span>
    </div>
    <div class="price">
        <span>{{food.price|currency}}</span>
    </div>
    <div class="button">
        <button (click)="addTocart()">Add to Cart</button>
        <button (click)="addTocart()">Buy</button>
    </div>

</div>

</div>